<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Example link -->
    <xacro:include filename="inertial_macros.xacro"/>

    <xacro:property name="rad_w" value="0.05"/>
    <xacro:property name="le_w" value="0.04"/>
    <xacro:property name="ly" value="0.4"/>
    <xacro:property name="lx" value="0.4"/>
    <xacro:property name="lz" value="0.05"/>
    <xacro:property name="lidar_lz" value="0.13"/>
    <xacro:property name="chassis_mass" value="5.0"/>
    <xacro:property name="wheel_mass" value="2.5"/>
    <xacro:property name="imu_l" value="0.01"/>

    <!-- Example link -->
    <link name="base_link">
    </link>

        <!-- lidar link -->
    <link name="lidar_link">
    </link>


    <joint name="lidar_base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="0 0 ${lidar_lz}" rpy="0 0 3.1415"/>    
    </joint>

        <!-- imu link -->
    <link name="imu_link">
    </link>


    <joint name="imu_base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0.05 0 0.05" rpy="0 3.1415 1.5707"/>    
    </joint>

</robot>